body{
	background-color:#2B004B;
	padding: 50px;
}

.introduction {
	align-self: center;
}

.imagextext {
	img {
		height: 200px;
	}
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

	.introduction {
		grid-column: 2 / span 4;
		grid-row: 2;
	}

	.imagextext {
		grid-column: 1;
	}

	.list1 {
		grid-column: 2 / span 2;
	}

	.about {
		grid-column: 1;
	}

	.remote {
		grid-column: 1;
	}

	.remote1 {
		img {
			grid-column: 2;
			height: 200px;
		}
	}

	.faq {
		grid-column: 1;
	}

}