body{
	background-color:#2B004B;
	padding: 50px;
}

.introduction {
	align-self: center;
}

.imagextext {
	img {
		height: 200px;
	}
}

section {
	display: grid;
	grid-template-columns: 12(repeat 1fr);
	grid-template-rows: 12(repeat 1fr);
}