body{
	background-color:#2B004B;
	padding: 50px;
}

.introduction {
	align-self: center;
}

.imagextext {
	img {
		height: 200px;
	}
}

section {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);

	.introduction {
		grid-column: 2 / span 4;
		grid-row: 2;
	}

	.imagextext {
		grid-column: 3;
	}

	.list1 {
		grid-column: 4 / span 2;
		grid-row: 1;
	}

	.about {
		grid-column: 1 / span 2;
	}

	.remote {
		grid-column: 3 / span 2;
	}

	.remote1 {
		img {
			grid-column: 3;
			height: 200px;
		}
	}

	.faq {
		grid-column: 3 / span 2;
	}

	.contact {
		grid-column: 3 / span 2;
		grid-row: 4;
	}

}