header {
	h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	}
}

.intro {
	h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	}
}

.list1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

h2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
}

p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

ul {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}